<!DOCTYPE html PUBLIC>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ChungBuk University Major Books!</title>
  <link href="/public/bootstrap/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/public/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/public/bootstrap/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
  <link href="/public/bootstrap/css/freelancer.css" rel="stylesheet">
  <link href="/public/semantic.min.css" rel="stylesheet" >
  <style>
  h6 {
    display: block;
    font-size: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.6em;
    margin-left: 0;
    margin-right: 0;
  }

  h5 {
    display: block;
    font-size: 1.4em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  </style>
</head>


<body id="page-top">
  <%
  var curID = posts._doc._id;
  var curDate = posts._doc.date;
  var curStarttime = posts._doc.starttime;
  var curEndtime = posts._doc.endtime;
  var curFacilityname = posts._doc.facilityname;
  var curUsername = posts._doc.username;
  var curPhone = posts._doc.phone;
  var curEmail = posts._doc.email;
  var curComment = posts._doc.comment;
  var curRemark = posts._doc.remark;
  var curImagefiles = posts._doc.imagefiles;
  var curReturntime = posts._doc.returntime;
  %>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/admin/home">BILLY SHARE!</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu <i class="fa fa-bars"></i>
  </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/roomlist?page=0&perpage=10"> 스터디룸 목록 </a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/revlist?page=0&perPage=10">예약현황 확인</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/returnlist?page=0&perpage=10">반납목록 확인</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/Statistics">예약통계 확인</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/contactlist?page=0&perPage=10">문의내용 확인</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/admin/logout">로그아웃</a></li>
        </ul>
        </ul>
      </div>
    </div>
  </nav>


  <br><br>
  <form action="/admin/returncheck" method="post">
    <section class="portfolio bg-third ">
      <div class="container">
      </div>
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="/public/bootstrap/img/profile.png" alt="">
        <div class="row">
          <div class="col-md-1 mb-5 mb-lg-0">
          </div>

          <div class="col-md-10 mb-5 mb-lg-0">
            <h2 class="text-uppercase mb-0 text-center">스터디룸 반납 확인</h1>




              <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
              <script src="//code.jquery.com/jquery.min.js"></script>
              <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

              <link rel="stylesheet" href="//cdn.rawgit.com/fgelinas/timepicker/master/jquery.ui.timepicker.css">
              <script src='//cdn.rawgit.com/fgelinas/timepicker/master/jquery.ui.timepicker.js'></script>
              <script>
              $(function() {
                $('.timepicker').timepicker();
              });
              </script>










              <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
              <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
              <script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

              <script>
              $(function() {
                $("#datepicker1, #datepicker2").datepicker({
                  dateFormat: 'yy.mm.dd'
                });
              });

              </script>





              <br>
              <br>

              <div class ="alert1 alert1-info">
                <h1 style="color:GREEN">반납 정보</h1>
                <hr>

                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                    <h5 class="text-uppercase mb-2 text-center">스터디룸 이름</h5>
                  </div>
                  <div class="col-lg-8 col-sm-8">
                    <input type="text" class="form-control" name="facilityname" value="<%=curFacilityname%>" readonly>
                  </div>
                </div>

                <hr>



                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                    <h5 class="text-uppercase mb-2 text-center">예약 시간</h5>
                  </div>
                  <div class="col-lg-2 col-sm-2">
                    <input type="text" class="form-control" name="date" id="datepicker1" value="<%=curDate%>" readonly>
                  </div>
                  <div class="col-lg-2 col-sm-2">
                    <input type="text" class='timepicker form-control' name="starttime" value="<%=curStarttime%>" readonly>
                  </div>
                  <div class="col-lg-2 col-sm-1">
                    <h5><center>
                      부터
                    </center></h5>
                  </div>
                  <div class="col-lg-2 col-sm-2">
                    <input type="text" class='timepicker form-control' name="endtime" value="<%=curEndtime%>" readonly>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                    <h5 class="text-uppercase mb-2 text-center">예약자 이름</h5>
                  </div>
                  <div class="col-lg-2 col-sm4">
                    <input type="text" class="form-control" name="username" value="<%=curUsername%>" readonly>
                  </div>
                  <div class="col-lg-1 col-sm-4">
                  </div>
                  <div class="col-lg-3 col-sm-4">
                    <h5 class="text-uppercase mb-2 text-center">예약자 전화번호</h5>
                  </div>
                  <div class="col-lg-2 col-sm4">
                    <input type="text" class="form-control" name="phone" value="<%=curPhone%>" readonly>
                  </div>
                </div>
                <hr>
                <br>




                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                    <h5 class="text-uppercase mb-2 text-center">건의사항 / 한줄 평</h5>
                  </div>
                  <div class="col-lg-8 col-sm-2">
                    <input type="text" class="form-control" value="<%= curComment%>" readonly>
                  </div>
                </div>
                <hr>


                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                    <h5 class="text-uppercase mb-2 text-center">특이사항</h5>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <input type="textarea" class="form-control" value="<%=curRemark%>" readonly>
                  </div>
                  <div class="col-lg-2 col-sm-4">
                    <h5 class="text-uppercase mb-2 text-center">반납시간</h5>
                  </div>
                  <div class="col-lg-2 col-sm-2">
                    <input type="text" class="form-control" value="<%=curReturntime%>" readonly>
                  </div>
                </div>

                <hr>




                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                    <h5 class="text-uppercase mb-2 text-center">이미지 등록</h5>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                    <div id='View_area' style='position:relative; width: 170px; height: 170px; color: black;  border: 0px solid green ; dispaly: inline; '>
                      <img id="prev_View_area" src="/<%=curImagefiles%>" style='position:relative; width: 170px; height: 170px; color: black;  border: 0px solid green ; dispaly: inline; '>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-3">
                    <div id='View_area' style='position:relative; width: 170px; height: 170px; color: black;  border: 0px solid green ; dispaly: inline; '>
                      <img id="prev_View_area" src="/public/bootstrap/img/image.png" style='position:relative; width: 170px; height: 170px; color: black;  border: 0px solid green ; dispaly: inline; '>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-4">
                    <div class="row">
                      <h5 style="color:GREEN"><center>
                      </center></h5>
                    </div>
                    <br>
                    <div class="row">
                    </div>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                  </div>
                  <div class="col-lg-3 col-sm-4">
                  </div>
                  <div class="col-lg-3 col-sm-4">
                    <h5><center>
                      반납 이미지 예시
                    </center></h5>
                  </div>

                </div>
                <hr>
                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                    <h5 class="text-uppercase mb-2 text-center">패널티 부과</h5>
                  </div>
                  <div class="col-lg-2 col-sm-4">
                      <select class="form-control" id="exampleSelect1" name="people">
                        <option>없음</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                  </div>
                  <div class="col-lg-3 col-sm-4">
                    <h5 class="text-uppercase mb-2 text-center">사유</h5>
                  </div>
                  <div class="col-lg-3 col-sm-2">
                    <select class="form-control" id="exampleSelect1" name="people">
                      <option>없음</option>
                      <option>반납 규정 미준수</option>
                      <option>정리 정돈 미흡</option>
                      <option>반납 시간 초과</option>
                      <option>시설 비품 훼손</option>
                    </select>
                  </div>
                </div>
                <hr>
                <br>


              </div>








              <div class="row">
                <div class="col-lg-3 col-sm-2">
                  <h5 class="text-uppercase mb-2 text-center"></h5>
                </div>
                <div class="col-lg-3 col-sm-4">
                  <button type="submit" class="btn btn-primary btn-block">반납 확인</button>
                </div>
                <div class="col-lg-3 col-sm-4">
                  <button type="button" class="btn btn-primary btn-block" >돌아 가기</button>
                </div>
                <div class="col-lg-3 col-sm-2">
                  <h5 class="text-uppercase mb-2 text-center"></h5>
                </div>
              </div>



            </div>



            <div class="col-md-1 mb-5 mb-lg-0">
            </div>
          </div>
        </section>
      </form>

      <div class="copyright py-4 text-center text-white">
        <div class="container">
          <small>Copyright &copy; Your Website 2018</small>
        </div>
      </div>

      <script src="/public/bootstrap/vendor/jquery/jquery.min.js"></script>
      <script src="/public/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/public/bootstrap/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
      <script src="/public/bootstrap/js/jqBootstrapValidation.js"></script>
      <script src="/public/bootstrap/js/contact_me.js"></script>
      <script src="/public/bootstrap/js/imageUpload.js"></script>
      <script src="/public/bootstrap/js/freelancer.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
      <script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="//cdn.rawgit.com/fgelinas/timepicker/master/jquery.ui.timepicker.css">
      <script src='//cdn.rawgit.com/fgelinas/timepicker/master/jquery.ui.timepicker.js'></script>
      <script> $(function() { $("#postcodify_search_button").postcodifyPopUp(); }); </script>

    </body>

    </html>
