<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ChungBuk University Major Books!</title>
  <link href="/public/bootstrap/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/public/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/public/bootstrap/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
  <link href="/public/bootstrap/css/freelancer.min.css" rel="stylesheet">


</head>

<body id="page-top">


  <!-- Navigation -->
  <div class="Content">
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">BILLY SHARE!</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/login"> 로그인 및 회원가입</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/search?page=0&perPage=10">스터디룸 조회 및 예약</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/profile">마이페이지</a></li>
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/contactDev">개발자 문의</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <br><br>
  <form action="/user/search" method="post">
    <section class="portfolio bg-third ">
      <div class="container">
      </div>
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="/public/bootstrap/img/profile.png" alt="">
        <div class="row">

          <div class="col-md-12 mb-5 mb-lg-0">
            <h2 class="text-uppercase mb-0 text-center">스터디룸 조회</h1>
              <hr>

              <div class="row">
                  <div class="col-md-7 mb-4 mb-lg-0">
                  </div>
                <div class="col-md-2 mb-4 mb-lg-0">
                    <select class="selectpicker form-control" name = "selcon">
                      <option>시설 이름</option>
                      <option>시설 주소</option>
                      <option>수용 인원</option>
                      <option>편의 시설</option>
                    </select>
                </div>
                <div class="col-md-3m  mb-lg-0">
                  <input type="text" class="form-control" placeholder="Search" name="inputcon">

                </div>
                <div class="col-md-1m  mb-lg-0">
                  <button type="submit" class="btn btn-secondary btn-block">Submit</button>
                </div>
              </div>

              <div class="container">
                <div class="row">
                  <p></p>
                  <p> </p>

                  <div class="col-md-12 col-md-offset-1">

                    <div class="panel panel-default panel-table">

                      <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                          <thead>
                            <tr>
                              <!-- <th><em class="fa fa-cog"></em></th> -->
                              <th>시설이름</th>
                              <th>주소</th>
                              <th class="hidden-xs">수용인원</th>
                              <th>운영시간</th>
                            </tr>
                          </thead>
                          <%  var noStart = (pageCount - page) * perPage;

                          for (var i = 0; i < posts.length; i++) {
                            var curEndtime = posts[i]._doc.endtime;
                            var curStarttime = posts[i]._doc.starttime;
                            var curFacilityname = posts[i]._doc.facilityname;
                            var curRoadaddress = posts[i]._doc.roadnameaddress;
                            var curAddress = posts[i]._doc.address;
                            var curPeople = posts[i]._doc.people;

                            %>
                            <tr>
                              <td><a href="/user/search/<%=posts[i]._id %>"><%=curFacilityname %></a></td>
                              <td> <%=curRoadaddress%>  <%=curAddress%> </td>
                              <td class="hidden-xs"><%=curPeople%></td>
                              <td><%=curStarttime%> 부터 <%=curEndtime%></td>
                            </tr>
                            <% } %>
                          </table>
                        </div>
                        <br>

                        <center>
                          <div class="tiny ui basic buttons" style="margin:0 auto;">
                            <%
                            if (page > 0) {
                              %>
                              <div class="ui icon button" onclick="listpost(0, <%=perPage %>)">
                                <i class="backward icon"></i>
                              </div>
                              <div class="ui icon button" onclick="listpost(<%=(page-1) %>, <%=perPage %>)">
                                <i class="left chevron icon"></i>
                              </div>
                              <%
                            } else {
                              %>
                              <div class="ui disabled icon button">
                                <i class="backward icon"></i>
                              </div>
                              <div class="ui disabled icon button">
                                <i class="left chevron icon"></i>
                              </div>
                              <%
                            }
                            %>
                            <%
                            var initial = Math.floor(page / 10) * 10;
                            console.log('initial : ' + initial);

                            var max = pageCount - initial;
                            if (max > 10) {
                              max = initial + 10;
                            } else {
                              max = initial + max;
                            }
                            console.log('max : ' + max);

                            for (var i = initial; i < max; i++) {
                              if (i != page) {
                                %>
                                <div class="ui button" onclick="listpost(<%=i %>, <%=perPage %>)">
                                  <%= i%>
                                </div>
                                <%
                              } else {
                                %>
                                <div class="ui active basic button">
                                  <%= i%>
                                </div>
                                <%
                              }
                            }
                            %>
                            <%
                            if ((page+1) < pageCount) {
                              %>
                              <div class="ui icon button" onclick="listpost(<%=(page+1) %>, <%=perPage %>)">
                                <i class="right chevron icon"></i>
                              </div>
                              <div class="ui icon button" onclick="listpost(<%=(pageCount-1) %>, <%=perPage %>)">
                                <i class="forward icon"></i>
                              </div>
                              <%
                            } else {
                              %>
                              <div class="ui disabled icon button">
                                <i class="right chevron icon"></i>
                              </div>
                              <div class="ui disabled icon button">
                                <i class="forward icon"></i>
                              </div>
                              <%
                            }
                            %>
                          </div>
                        </center>


                      </div>
                    </div></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>


        <div class="copyright py-4 text-center text-white">
          <div class="container">
            <small>Copyright &copy; Your Website 2018</small>
          </div>
        </div>


        <script src="/public/jquery-3.1.1.min.js"></script>
        <script src="/public/semantic.min.js"></script>
        <script src="/public/bootstrap/vendor/jquery/jquery.min.js"></script>
        <script src="/public/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/public/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/public/bootstrap/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="/public/bootstrap/js/jqBootstrapValidation.js"></script>
        <script src="/public/bootstrap/js/contact_me.js"></script>
        <script src="/public/bootstrap/js/freelancer.min.js"></script>
        <script>
        function listpost(page, perPage) {
          document.location = '/user/search?page=' + page + '&perPage=' + perPage;
        }
        </script>
      </body>

      </html>
