<!DOCTYPE html PUBLIC>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ChungBuk University Major Books!</title>
  <link href="/public/bootstrap/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/public/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/public/bootstrap/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
  <link href="/public/bootstrap/css/freelancer.css" rel="stylesheet">
  <link href="/public/semantic.min.css" rel="stylesheet" >
  <style>
  h6 {
    display: block;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
  }

  h5 {
    display: block;
    font-size: 1.4em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    color:#2C3E50;
  }
  </style>
</head>

<%
var curID = posts._doc._id;
var curFacilityname = posts._doc.facilityname;
var curAddress = posts._doc.address;
var curPeople = posts._doc.people;
var curImagedir = posts._doc.imagefiles;
var curPostcode = posts._doc.postcode;
var curRoadaddress = posts._doc.roadnameaddress;
var curNumber = posts._doc.number;
var curConve = posts._doc.conve;
var curStartTime = posts._doc.starttime;
var curEndTime = posts._doc.endtime;
var curIntro = posts._doc.intro;
%>

<body id="page-top">



  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">BILLY SHARE!</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/login"> 로그인 및 회원가입</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/search?page=0&perPage=10">스터디룸 조회 및 예약</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/profile">마이페이지</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="jsp/contactDev.jsp">개발자 문의</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <br><br>
    <form action="/admin/register" method="post" enctype="multipart/form-data">
      <section class="PORTZFOLIO bg-third ">
        <div class="container">
        </div>
        <div class="container">
          <img class="img-fluid mb-5 d-block mx-auto" src="/public/bootstrap/img/file.png" alt="">
          <div class="row">
            <div class="col-md-1 mb-5 mb-lg-0">
            </div>
            <div class="col-md-10 mb-5 mb-lg-0">
              <h2 class="text-uppercase mb-0 text-center">스터디룸 정보</h1>
                <hr>
                <div class="row">
                  <div class=" col-lg-4 col-sm-4">
                    <br><br>
                    <img id="prev_View_area" src="/<%=curImagedir%>" style='position:relative; width: 200px; height: 200px; color: black;  border: 0px solid green ; dispaly: inline; '>
                  </div>
                  <div class="col-lg-8 col-sm-8">
                    <div class ="row">
                      <div class="col-lg-4 col-sm-4">
                        <h5><center>스터디룸 이름</center></h5>
                      </div>
                      <div class="alert1 alert1-success col-lg-6 col-sm-4">
                        <h6><%= curFacilityname %></h6>
                      </div>
                    </div>
                    <hr>
                    <div class ="row">
                      <div class="col-lg-4 col-sm-4">
                        <h5><center>스터디룸 위치</center></h5>
                      </div>
                      <div class="alert1 alert1-success col-lg-6 col-sm-4">
                        <h6><%= curPostcode %></h6>
                        <h6><%= curRoadaddress %></h6>
                        <h6><%= curAddress %></h6>
                      </div>
                    </div>
                    <hr>
                    <div class ="row">
                      <div class="col-lg-4 col-sm-4">
                        <h5><center>전화 번호</center></h5>
                      </div>
                      <div class="alert1 alert1-success col-lg-6 col-sm-4">
                        <h6><%= curNumber %></h6>
                      </div>
                    </div>

                  </div>
                </div>
                <hr>



                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                    <h5><center>개방시간</center></h5>
                  </div>
                  <div class="alert1 alert1-success col-lg-2 col-sm-2">
                    <h6><center><%= curStartTime %></center></h6>
                  </div>
                  <div class="col-lg-3 col-sm-4">
                    <h5><center>부터</center></h5>
                  </div>
                  <div class="alert1 alert1-success col-lg-3 col-sm-2">
                    <h6><center><%= curEndTime %></center></h6>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                    <h5><center>시설 소개</center></h5>
                  </div>
                  <div class="alert1 alert1-success col-lg-8 col-sm-8">
                    <h6><%= curIntro %></h6>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                    <h5><center>편의 시설</center></h5>
                  </div>
                  <div class="alert1 alert1-success col-lg-8 col-sm-8">
                    <h6><center><%= curConve %></center></h6>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-lg-3 col-sm-4">
                    <h5><center>최대 인원</center></h5>
                  </div>
                  <div class="alert1 alert1-success col-lg-8 col-sm-2">
                    <h6><center><%= curPeople %></center></h6>
                  </div>
                </div>
                <hr>

                <br>
                <br>

                <div class="row">
                  <div class="col-lg-3 col-sm-2">
                    <h5 class="text-uppercase mb-2 text-center"></h5>
                  </div>
                  <div class="col-lg-3 col-sm-4">
                    <button type="button" class="btn btn-primary btn-block" onclick="location.href='/room/reserve/<%=curID%>'">예약 하기</button>
                  </div>
                  <div class="col-lg-3 col-sm-4">
                    <button type="button" class="btn btn-primary btn-block"onclick="location.href='/user/search?page=0&perPage=10'" >돌아 가기</button>
                  </div>
                  <div class="col-lg-3 col-sm-2">
                    <h5 class="text-uppercase mb-2 text-center"></h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </form>



      <div class="copyright py-4 text-center text-white">
        <div class="container">
          <small>Copyright &copy; Your Website 2018</small>
        </div>
      </div>


      <script src="/public/bootstrap/vendor/jquery/jquery.min.js"></script>
      <script src="/public/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/public/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
      <script src="/public/bootstrap/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
      <script src="/public/bootstrap/js/jqBootstrapValidation.js"></script>
      <script src="/public/bootstrap/js/contact_me.js"></script>
      <script src="/public/bootstrap/js/imageUpload.js"></script>
      <script src="/public/bootstrap/js/freelancer.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
      <script> $(function() { $("#postcodify_search_button").postcodifyPopUp(); }); </script>

    </body>

    </html>
