<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ChungBuk University Major Books!</title>
  <link href="/public/bootstrap/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/public/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="/public/bootstrap/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
  <link href="/public/bootstrap/css/freelancer.min.css" rel="stylesheet">


  <style>
  h6 {
    display: block;
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }

  h5 {
    display: block;
    font-size: 1.4em;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  </style>
</head>


<body id="page-top">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">BILLY SHARE!</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/login"> 로그인 및 회원가입</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/search?page=0&perPage=10">스터디룸 찾아보기</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="jsp/BookBuy.jsp">스터디룸 예약하기</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/profile">마이페이지</a></li>
          <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/user/contactDev">개발자 문의</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <br><br>
  <section class="portfolio bg-third ">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="/public/bootstrap/img/userprofile.png" alt="">
      <div class="row">
        <div class="col-md-2 mb-5 mb-lg-0">
        </div>
        <div class="col-md-7 mb-5 mb-lg-0">
          <h2 class="text-uppercase mb-0 text-center">사용자 프로필</h1>
            <hr>
            <div class="row">
              <div class="col-md-2 mb-5 mb-lg-0">
                <h5>아이디</h5>
              </div>
              <div class="col-md-7 mb-5 mb-lg-0 alert1 alert1-info">
                <%=user.email%>
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-md-2 mb-5 mb-lg-0">
                <h5>이름</h5>
              </div>
              <div class="col-md-7 mb-5 mb-lg-0 alert1 alert1-info">
                <%=user.name%>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-2 mb-2 mb-lg-0">
                <h5>생년월일</h5>
              </div>
              <div class="col-md-3 mb-2 mb-lg-0 alert1 alert1-info">
                <%=user.birth%>
              </div>
              <div class="col-md-1 mb-2 mb-lg-0 ">
                <h5>성 별</h5>
              </div>
              <div class="col-md-1 mb-2 mb-lg-0 alert1 alert1-info ">
                <%=user.gender%>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-2 mb-5 mb-lg-0">
                <h5>전화번호</h5>
              </div>
              <div class="col-md-7 mb-5 mb-lg-0 alert1 alert1-info">
                <%=user.phone%>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-2 mb-5 mb-lg-0">
                <h5>주소</h5>
              </div>
              <div class="col-md-7 mb-5 mb-lg-0 alert1 alert1-info ">
                <%=user.roadnameaddress%> <%=user.address%>
              </div>
            </div>
            <hr>

            <center>
              <a href="/user/logout" class="btn btn-default btn-sm "><h3>정보수정</h3></a>
              <a href="/user/logout" class="btn btn-default btn-sm "><h3>로그아웃</h3></a>
              <form action="/user/delete" method="post">
                <input type="hidden" value="<%=user._id%>" name="id"/>
                <input type="submit" class="btn btn-default btn-sm " value="회원탈퇴"/>
                <!--<a href="/user/logout/<%=user._id%>" class="btn btn-default btn-sm "><h3>회원탈퇴</h3></a>-->
              </form>
            </center>
          </div>
        </div>

        <div = "row">
          <div class="col-md-2 mb-5 mb-lg-0">
          </div>

    <div class="col-md-5 mb-5 mb-lg-0">
          <table class="table table-hover">

              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>

            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </section>







  <div class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Your Website 2018</small>
    </div>
  </div>

  <script src="/public/bootstrap/vendor/jquery/jquery.min.js"></script>
  <script src="/public/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/public/bootstrap/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="/public/bootstrap/js/jqBootstrapValidation.js"></script>
  <script src="/public/bootstrap/js/contact_me.js"></script>
  <script src="/public/bootstrap/js/freelancer.min.js"></script>

</body>

</html>
